[submodule "Povox/vendor/spdlog"]
	path = Povox/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Povox/vendor/GLFW"]
	path = Povox/vendor/GLFW
	url = https://github.com/PowerOfNames/glfw
	branch = Povox
[submodule "Povox/vendor/ImGui"]
	path = Povox/vendor/ImGui
	url = https://github.com/PowerOfNames/imgui
[submodule "Povox/vendor/glm"]
	path = Povox/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Povox/vendor/ImGuizmo"]
	path = Povox/vendor/ImGuizmo
	url = https://github.com/PowerOfNames/ImGuizmo
[submodule "Povox/vendor/yaml-cpp"]
	path = Povox/vendor/yaml-cpp
	url = https://github.com/PowerOfNames/yaml-cpp.git
[submodule "Povox/vendor/SPIRV-Reflect"]
	path = Povox/vendor/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
